<h3>Budget Overview</h3>
<div class="ui divider"></div>
<div class="ui grid">
  <div class="eight wide column percentage">
    <div class="ui statistic">
      <div class="value">{{percentage}}%</div>
      <div class="label">Spent</div>
    </div>
  </div>
  <div class="eight wide column">
    <div class="ui grid">
      <div class="row">
        <div class="grid">
          <div class="row h3">Total Budget</div>
          <div class="row h3">{{budget.budget}}</div>
        </div>
      </div>
      <div class="row">
        <div class="grid">
          <div class="row h3">Total Expense</div>
          <div class="row h3">{{budget.expenseTotal}}</div>
        </div>
      </div>
    </div>
  </div>
</div>