:host {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 3.5fr;
}

.mainMenu {
    grid-column: 1/2;
    border-right: 1px rgba(0,0,0, 0.3) solid;

    .menu {
        width: 100%;

        .item {
            padding: 15px;
            text-align: center;
            border-bottom: 1px rgba(0,0,0,0.3) solid;
        }
    }
}

.mainContent {
    grid-column: 2/3;
}